@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic,latin-ext);

html, body {
    margin: 5px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.col {
	float: left;
}

.col-userlist {
	width: 20%;
}

.clearfix {
	clear: both;
}